.benefits-img-size{
    width: 100%;
    height: 14rem;
}

.hover-card:hover {
    background-color: rgb(234, 163, 175);
}

.hover-card:hover .card-title{
    color: white;
}

.hover-card:hover .card-button{
    color: white;
    border-color: white;
}

.hover-card:hover .card-paragraph{
    color: white;
}