.landing-max-height{
    height: 90vh;
}

.img-md-size{
    width: 40rem;
    height: 40rem;
}

/* @media (max-width: 500px) {
    .img-md-size{
        width: 25rem;
        height: 25rem;
    }
    
} */

@media (max-width: 800px) {
    .img-md-size{
        width: 28rem;
        height: 28rem;
    }
    
}